* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("../img/main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#hero .container {
  height: 50vh;
}
